
<ul class="search-form">
    <li>    
        <form id="search-site"  action='/stories/search/:query' method='get'>
            <div class="input-group">
                    <i class="fas fa-search fa-large" ></i>
                    <div class="input-field">
                    <input id="search" type="search" name='query' placeholder="Search by title">
                    <label class="label-icon" for="search">
                    </label>
                 </div>
                <button type="submit" class="input-group-addon btn">search</button>
            </div>

        </form>  
    </li>   
</ul>
<div class="row">
    {{#each stories}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <p>{{stripTags (truncate body 150)}}</p>
                <br>
                <div class="chip">
                    <img src="{{user.image}}" alt="">
                    <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/stories/{{_id}}" class="btn grey">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No stories to display</p>
    {{/each}}
</div>
 {{#each stories}}
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{title}}</h2>
  </div>
  <div class="mdl-card__supporting-text">
   <div class="card-image">
                {{{editIcon user ../user _id}}}
            </div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Get Started
    </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>
{{/each}}